# dependencies
/frontend/node_modules

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
/frontend/npm-debug.log*

# local env files
.env*.local
.env*

# vercel
.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# backend
/backend/env/
/backend/*.pyc
/backend/*.pyo
/backend/*.sqlite3
**/migrations/*.py
**/migrations/*.pyc
**/__pycache__/
