.myHeading {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #333; /* Set your preferred text color */
  margin-bottom: 1.25rem; /* Adjust the margin bottom as needed */
}
.signup {
  display: block;
  margin: 0 auto; 
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1;
  color: black;
  background-color:  #0d6efd;
  border: 1px solid #007bff;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

/* Style when hovered over */
.signup:hover {
  background-color: #0d6efd;
  color: white;
}
.formCheckLabel {
  padding-left: 1rem;
}

.forgotPassword{
  text-align: right;
  font-size: .75rem;
  flex-grow: 1;
  display: block; /* Ensure it takes up the full width of its container */

}
.forgotPassword:hover{
  color: rgb(102, 102, 102);
}

.newAccount{
  text-align: center;
  font-size: .75rem;
  flex-grow: 1;
  display: block;
  margin: 0 auto; 
  width: 60%;
  padding: 2rem 1.25rem 0rem 1.25rem;
  line-height: 1;
  text-decoration: underline;
  /* color: rgb(16, 10, 10);
  background-color:  #0d6efd;
  transition: background-color 0.3s ease; */
}

/* Style when hovered over */
.newAccount:hover {
  color: rgb(102, 102, 102);
}